@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Patua One', cursive;
}


/* THIS FOLDER IS FOR BASIC CSS. MAKE SURE TO MAKE INDIVIDUAL CHANGES IN THE DESIGNATED CSS FOLDER */
.d-flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.justify-content-start{
    justify-content: flex-start;
}

.justify-content-end{
    justify-content: flex-end;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.flex-column {
    flex-direction: column;
}

.text-danger{
    color: red;
}

.bgdark{
    background-color: rgb(19,26,43);
}


.bgnavy{
    background-color: rgb(29,43,68);
}

.bgdarkblue{
    background-color: rgb(47,86,124);
}

.bgblue{
    background-color: rgb(61,119,166);
}

.bglightblue{
    background-color: rgb(116,172,207);
}

.bgwhite{
    background-color: rgb(198,241,241);
}

.text-white{
    color: rgb(198,241,241);
}







.text-dark{
    color: rgb(22,21,39)
}



.navbar{
    padding: 0% 3%;
    max-height: 80px;
    display: flex;
    position: sticky;
    top: 0;
    margin-top: -105px;
    justify-content: space-between;
}

.navcontentstart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}

.navcontentend{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.navextension{
    margin: 0px;
    min-height: 130px;
}

.nav-tag{
    color: rgb(198,241,241);
    text-decoration: none;
    font-size: 20px;
    margin-left: 30px;
}

.nav-space{
    color: rgb(198,241,241);
    text-decoration: none;
    font-size: 20px;
    margin-left: 30px;
    cursor: default;
}

.navcart{
    margin-left: 30px;
}

#logo{
    max-height: 100px;
}

.text-white{
    color: white;
}


ul {
    list-style: none;
}

.mt-5{
    margin-top: 50px;
}

.ml-5 {
    margin-left: 50px;
}

.mt-10 {
    margin-top: 100px;
}

<<<<<<< Updated upstream
.pdt-10{
=======
.mr-10 {
    margin-right: 100px;
}

.p-10 {
    padding: 100px;
}

.pt-10{
>>>>>>> Stashed changes
    padding-top: 100px;
}

.head{
    color: rgb(198,241,241);
    font-size: 500%;
}

.pointer-select {
    cursor: pointer;
}
