
.gradient{
    background-image: radial-gradient(rgb(61,119,166), rgb(19,26,43) 60%);
    background-size: 200% 400%;
    background-position: top;
}

.register {
    margin-right: 150px;
    min-height: 300px;
}

.login {
    margin-left: 150px;
}

.cardboard {
    padding-top: 125px;
    color: rgb(198,241,241);
    margin-bottom: 20px;
}

button{
    background-color: rgb(228,102,7);
    color: rgb(19,26,43);
    border: none;
    border-radius: 5px 5px;
    padding: 7px;
    margin-top: 20px;
    font-weight: bold;
    transition-duration: 1s;
}

button:hover{
    box-shadow:0px 0px 5px 2px rgb(198,241,241),0px 0px 10px 5px  rgb(228,102,7), 0px 0px 10px 2px rgb(198,241,241) inset;
}

h2 {
    font-size: 170%;
}
