* {
    margin: 0;
    padding: 0;
}

.productOptions {
    margin-left: 200px;
    font-size: 150%;
}

.cartBtn {
    margin-right: 25px;
}

.productBtn {
    cursor: pointer;
    border: none;
    padding: 15%;
    width: 140px;
    height: 55px;
    border-radius: 10px 10px;
    background-color:rgb(204, 204, 204) ;   
}

.productBtn:hover {
    transition-duration: 0.4s ;
    /* background-color: rgb(119, 136, 153); */
    background-color: rgb(159, 160, 161);
}

.productImage {
    width: 600px;
}

