* {
    margin: 0px;
    padding: 0px;
}   

ul {
    list-style: none;
}

#headingLine {
    width: 475px;
    border-top: 1px solid lightslategray;
    margin-bottom: 5px;
    margin-top: 2px;
    opacity: 60%;
}

.dropdown:hover .dropdown-content a{display: flex;}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown p:hover {
    background-color: whitesmoke;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.productImgs {
    margin: 10px;
    height: 300px;
}

.listProducts {
    padding: 20px;

}

.shopHeading {
    font-size: 450%;
}

.productColumns {
    flex-wrap: wrap;
    width: 1000px;

}

.btn {
    border: none;
    padding: 8px 11px;
    cursor: pointer;
    border-radius: 5px 5px;
}

.searchbtn {
    padding: 6px 8px;
    border-radius: 5px 5px;
}

.btn:hover {
    background-color: lightslategrey;
    transition-duration: 0.4s;
}

.searchbtn:hover {
    border-radius: 5px 5px;
}

.test {
    margin-top: 10px;
}

.typeList {
    margin-top: 10px;
}